// Colors

@dark-bg-color: #1d2631;
@dark-color: #000000;
@dark-color-opasity:rgba(0, 0, 0, 0.25);
@basic-light-color: #f2f2f2;
@light-color: #ffffff;
@basik-color: #283645;
@basik-color-opasity: rgba(40, 54, 69, 0.1);
@accent-color: #d22856;
@extra-bg-color:  #2aab6d;
@extra-color: #3dc644;
@extra-light-color: #efefef;
@special-color: #e5e5e5;

// Viewports

@tablet-width: 660px;
@desktop-width: 1200px;
