.contacts {
  color: @basik-color;
}

.contacts__list {
  list-style: none;
}

.contacts__item-title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @accent-color;
  margin-bottom: 35px;
}

.contacts__phone {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @accent-color;
  margin-bottom: 35px;
}
