.contacts {
  color: @basik-color;
  padding: 50px 0 0;
}

.contacts__wrapper {
  max-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.contacts__item {
  padding: 0;
  margin: 0 auto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @accent-color;
  max-width: 280px;
}

.contacts__item-link {
  color: @accent-color;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.contacts__item-title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @basik-color;
}

.contacts__text {
  padding: 0;
  margin: 0 0 31px;
}

.contacts__map {
  max-width: 320px;
  height: 200px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    max-width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item:nth-child(1) {
    margin-right: 70px;
  }

  .contacts__map {
    max-width: 660px;
    height: 374px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    max-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .contacts__item:nth-child(2) {
    order: 2;
  }

  .contacts__map {
    max-width: 1200px;
    height: 793px;
  }
}
