.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.form__input::placeholder {
  color: @basik-color;
}

.form__item-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basik-color;
}

.form__fieldset {
  background-color: @basic-light-color;
}

.form__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: @light-color;
  background-color: @extra-bg-color;
  border: none;
  border-radius: 1px;
  padding: 20.5px 45px 20.5px 45px;
}
