.form__field {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
  font-family: inherit;
}

.form__caption {
  font-size: 14px;
  color: @accent-color;
  text-transform: uppercase;
}

.form__input {
  font-size: inherit;
  font-family: inherit;
}

.form__input::placeholder {
  color: @basik-color;
  font-family: inherit;
}

.form__item-label {
  color: @basik-color;
  line-height: 30px;
}

.form__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: @light-color;
  background-color: @extra-bg-color;
  border: none;
  border-radius: 1px;
  padding: 20.5px 45px 20.5px 45px;
}
