.information {
  background-color: @light-color;
}

.information-bg-color {
  background-color: @basic-light-color;
}

.information__list {
  list-style: none;
}

.information__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @dark-color;
}

.information__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basik-color;
}
