.main-nav {
  background-color: @dark-color-opasity;
  padding: 22px 0 21px;
}

.main-nav__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr min-content;
}

.main-nav__button {
  .visually-hidden;
}
