.photo__title {
  max-width: 280px;
  padding: 54px 20px 60px;
  margin: 0 auto;
}

.photo__panorama {
  margin: 0 -20px;
}

.photo__list {
  list-style: none;
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
}

.photo__item {
  background-color: @basic-light-color;
  text-align: left;
  padding-bottom: 26px;
  margin-bottom: 20px;
}

.photo__item-block {
  padding: 0 20px;
}

.photo__item-user {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @basik-color;
  margin: 25px auto 0;
}

.photo__item-add-time {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__item-comment {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}

.photo__item-like {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @accent-color;
}

@media (min-width: @tablet-width) {
  .photo__title {
    font-size: 18px;
    max-width: 620px;
  }

  .photo__item {
    margin-right: 20px;
  }

  .photo__list {
    max-width: 620px;
    display: grid;
    grid-template-columns: 300px 300px;
  }

  .photo__item-panorama {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }
}

@media (min-width: @desktop-width) {
  .photo__title {
    font-size: 18px;
    max-width: 700px;
  }

  .photo__list {
    max-width: 940px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
  }

  .photo__item-panorama {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
}
