.reviews {
  background-color: @light-color;
  margin: 50px 20px 0;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
}

.reviews__title {
  .visually-hidden();
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 620px;
    margin: 0 auto;
  }
}
