.site-list {
  list-style: none;
}

.site-list a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: @light-color;
}
