.upload-background {
  background-color: @basic-light-color;
}

.upload__button {
  box-sizing: border-box;
  border-radius: 30px;
  background: @basic-light-color;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  &--pink {
    border: 3px solid @accent-color;
    color: @accent-color;
    padding: 21px 90px 21px 91px;
  }

  &--grey {
    opacity: 0.1;
    border: 3px solid @basik-color;
    color: @basik-color;
    padding: 21px 103px 21px 104px;
  }
}
